<!DOCTYPE html>
<html>
    <meta>
        <meta charset="utf-8">
        <title>Проблема зависимости от алгебры</title>
        <link rel="stylesheet", href="\static\css\style.css">
    </head>
    <body>
        <h1>Как работать с технологическими зависимостями</h1>
        <p>we work to earn the right to work</p>
        <p>to earn the right to work</p>
        <p>to сделать историю.</p>

        <h2>Как сделать историю</h2>
        <ul>
            <li>Найти испанию
                <ol>
                    <li>Убрать нынешнюю</li>
                    <li>Основать новую</li>
                </ol>
            </li>
            <li>Изучить испанию 1920-1930-ых гг</li>
            <li><img src="static/img/placehold.webp"></li>
            <li><h3>Сделать историю</h3></li>
        </ul>
        <div class = "Widget">
            <iframe src="https://www.meteoblue.com/en/weather/widget/daily/ip_romania_675514?geoloc=fixed&days=3&tempunit=CELSIUS&windunit=METER_PER_SECOND&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 162px; height: 420px"></iframe>
            <div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/ip_romania_675514?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
        </div>
    </body>
</html>