<!DOCTYPE html>
<html>
    <meta>
        <meta charset="utf-8">
        <title>Проблема зависимости от алгебры</title>
        <link rel="stylesheet", href="{{ path_css }}">
    </head>
    <body>
        <h1>Как работать с технологическими зависимостями</h1>
        <p>we work to earn the right to work</p>
        <p>to earn the right to work</p>
        <p>to сделать историю.</p>

        <h2>Как сделать историю</h2>
        <ul>
            <li>Найти испанию
                <ol>
                    <li>Убрать нынешнюю</li>
                    <li>Основать новую</li>
                </ol>
            </li>
            <li>Изучить испанию 1920-1930-ых гг</li>
            <li><img src="{{ path_img }}"></li>
            <li><h3>Сделать историю</h3></li>
        </ul>
    </body>
</html>
